.App {
  text-align: center;
  background: linear-gradient(100deg, rgba(125,78,175,1) 25%, rgba(58,117,183,1) 85%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
.title{
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin-top: 5px;
}
.text{
  font-size: 16px;
  text-align: left;
  margin-left: 60px;
}


